<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

	<listener>
  		<listener-class>
  			com.sidney.dbsyncserver.init.GlobalInit
  		</listener-class>
	</listener>
	
	<servlet>
		<display-name>DbSyncMasterServiceServlet</display-name>
		<servlet-name>DbSyncMasterServiceServlet</servlet-name>
		<servlet-class>com.sidney.dbsyncserver.servlet.DbSyncMasterServiceServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<display-name>DbSyncSlaveServiceServlet</display-name>
		<servlet-name>DbSyncSlaveServiceServlet</servlet-name>
		<servlet-class>com.sidney.dbsyncserver.servlet.DbSyncSlaveServiceServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>DbSyncMasterServiceServlet</servlet-name>
		<url-pattern>/MasterService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DbSyncSlaveServiceServlet</servlet-name>
		<url-pattern>/SlaveService</url-pattern>
	</servlet-mapping>

</web-app>